# {{ ansible_managed }}

config * {
	logfile /var/log/conserver/conserver.log;
}

default full    { rw *; }
default * {
        logfile /var/log/conserver/&.log;
        timestamp "";
        include full;
        master {{conserver_server_host}};
}

# Create a terminal console so that conserver can start
# with no IOCs defined
console noop {
	master localhost;
	type noop;
	motd "Dummy terminal, does nothing";
}

#include /etc/conserver/procs.cf

access * {
        trusted 127.0.0.1;
        allowed 127.0.0.1;
}
